a{
    text-decoration: none !important;
    color: white;
}
.footer{
    background-color: black;
    text-align:center;
    height:10px;
    padding-top: 5%;
    padding-bottom: 5%;
}
.footer_text:hover{
    color: red;
    cursor: pointer;
}
.footer_text{
    color:white;
    padding-left: 1%;
    padding-right: 1%;
    display: inline-block;
}